{% extends "westros/base.html" %}
{% load staticfiles %}
{% block head %}
    <title>Recommendations</title>
    <link rel="stylesheet" type="text/css" href="{% static 'westros/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'westros/bootstrap/style.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
{% endblock %} 
{% block body %}
<div class="anime-container container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3><center><b><i>Recommendations</i></b></center></h3>
        </div>
        {% for animes in li %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <div class="caption">
                            <h2>{{ animes.name }}</h2>
                            <a href="{% url 'westros:detail' animes.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                            <a href="{% url 'westros:like' animes.id 1 %}" class="btn btn-success btn-sm" role="button"><span class="fa fa-heart">Favourate</span></a>
                            <a href="{% url 'westros:like' animes.id 0 %}" class="btn btn-danger btn-sm" role="button"><span class="fa fa-heart">Not A Fan</span></a>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
        {% endfor %}
{% endblock %}